
body {
	font-family: 'Source Sans Pro', sans-serif;
	zoom: 175%;
	text-align: center;
}

h1 {
	font-size: 1.5em;	
}

#name {
	position: absolute;
	bottom: 6%;
	left: 50%;
	transform: translate(-50%, 0);
	font-style: italic;
	font-size: 0.8em;
}

#container {
	margin-top: 10%;
}


canvas {
	border:2px solid;
}

#accuracy {
	font-size: 0.6em;
}

p {
	font-size: 0.6em;
}