
body {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

#footer {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, 0);
	font-style: italic;
	font-size: 1em;
}

#container {
	margin-top: 10%;
}

#canvas {
	border: 1px solid;
}

#prediction {
	font-size: 1.2em;
	margin-top: 2%;
}

#smallCanvas {
	display: block;
	margin: 10px auto;
	border: 1px solid;
}

/*#accuracy {
	font-size: 0.6em;
}*/
